---
Checks: >
  -*,
  mpi-*,
  bugprone-*,
  -bugprone-switch-missing-default-case,
  -bugprone-signal-handler,
  -bugprone-narrowing-conversions,
  -bugprone-chained-comparison,
  -bugprone-casting-through-void,
  -bugprone-redundant-branch-condition,
  -bugprone-multiple-new-in-one-expression,
  -bugprone-unchecked-optional-access,
  -bugprone-shared-ptr-array-mismatch,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-signed-char-misuse,
  -bugprone-inc-dec-in-conditions,
  -bugprone-assignment-in-if-condition,
  -bugprone-bool-pointer-implicit-conversion,
  -bugprone-unhandled-exception-at-new,
  -bugprone-optional-value-conversion,
  -bugprone-compare-pointer-to-member-virtual-function,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-macro-parentheses,
  -bugprone-unsafe-functions,
  -bugprone-infinite-loop,
  -bugprone-unused-local-non-trivial-variable,
  -bugprone-easily-swappable-parameters,
  -bugprone-unique-ptr-array-mismatch,
  -bugprone-non-zero-enum-to-bool-conversion,
  -bugprone-not-null-terminated-result,
  -bugprone-standalone-empty,
  -bugprone-stringview-nullptr,
  -bugprone-macro-repeated-side-effects,
  cert-err52-cpp,
  cert-err60-cpp,
  cert-err34-c,
  cert-err33-c,
  cert-str34-c,
  cert-err09-cpp,
  cert-msc50-cpp,
  cert-env33-c,
  cert-dcl59-cpp,
  cert-msc51-cpp,
  cert-dcl58-cpp,
  cert-flp30-c,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-slicing,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-sfinae,
  google-default-arguments,
  google-runtime-operator,
  hicpp-use-noexcept,
  hicpp-multiway-paths-covered,
  hicpp-use-override,
  hicpp-braces-around-statements,
  hicpp-new-delete-operators,
  hicpp-avoid-goto,
  hicpp-member-init,
  hicpp-noexcept-move,
  hicpp-exception-baseclass,
  llvm-*,
  -llvm-namespace-comment,
  misc-unconventional-assign-operator,
  misc-coroutine-hostile-raii,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-non-copyable-objects,
  misc-no-recursion,
  misc-throw-by-value-catch-by-reference,
  misc-uniqueptr-reset-release,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-constraints,
  -modernize-use-std-numbers,
  -modernize-type-traits,
  -modernize-use-std-print,
  -modernize-use-using,
  -modernize-use-default-member-init,
  -modernize-use-starts-ends-with,
  -modernize-macro-to-enum,
  openmp-use-default-none,
  performance-*,
  -performance-noexcept-destructor,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  portability-simd-intrinsics,
  readability-simplify-boolean-expr,
  readability-redundant-smartptr-get,
  readability-make-member-function-const,
  readability-string-compare,
  readability-delete-null-pointer,
  readability-static-accessed-through-instance,
  readability-convert-member-functions-to-static,
  readability-redundant-function-ptr-dereference,
  readability-const-return-type,
  readability-misleading-indentation,
  readability-redundant-string-cstr,
  readability-use-anyofallof,
  readability-simplify-subscript-expr,
  readability-uniqueptr-delete-release,
  readability-static-definition-in-anonymous-namespace,
  readability-redundant-declaration,
  readability-redundant-string-init,
  readability-redundant-control-flow,
  readability-misplaced-array-index,
  readability-inconsistent-declaration-parameter-name,
  readability-container-size-empty