name: Windows ARM64 CMake Test

on:
  push:
  pull_request:
jobs:
  build:
    runs-on: windows-11-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            submodules: recursive
      
      - name: Install CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
      
      # 安装 QEMU for Windows
      - name: Install QEMU
        run: |
          choco install qemu -y
          
      - name: Configure CMake
        run: cmake -S . -B build -A arm64 -G "Visual Studio 17 2022" -DCMAKE_CROSSCOMPILING_EMULATOR="qemu-system-aarch64" -DRAINY_USE_CROSSCOMPILE=on
      
      - name: Build
        run: cmake --build build --config Release
      
      - name: Run tests
        run: ctest --test-dir build --output-on-failure