name: Windows ARM64 CMake Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-2022

    strategy:
      matrix:
        arch: [ arm64 ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 安装 CMake 和 Ninja
      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest

      # Configure CMake
      - name: Configure CMake
        run: cmake -S . -B build -A ${{ matrix.arch }} -G "Ninja"

      # Build
      - name: Build
        run: cmake --build build --config Release

      # Run tests
      - name: Run tests
        run: ctest --test-dir build --output-on-failure
