name: ARM64 CMake Catch2

on:
  push:
  pull_request:

jobs:
  arm64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            submodules: recursive
      - name: Enable QEMU (arm64)
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - name: Run build + tests in ARM64 container
        run: |
          docker run --rm --platform=linux/arm64 \
            -v ${{ github.workspace }}:/src \
            -w /src \
            arm64v8/ubuntu:22.04 \
            bash -c "
              set -e

              apt update
                apt install -y \
                  cmake \
                  g++ \
                  ninja-build \
                  git \
                  ca-certificates \
                  build-essential \
                  libpthread-stubs0-dev \
                  libc6-dev \
                  pkg-config

              cmake -B build -S . -DCMAKE_BUILD_TYPE=Release
              cmake --build build
              cd build
              ctest --output-on-failure
            "
