name: Windows ARM64 CMake Test

on:
  push:
  pull_request:
jobs:
  build:
    runs-on: windows-11-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Install CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest

      - name: Configure CMake
        run: |
            & "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat" arm64
            cmake -S . -B build -G Ninja
      - name: Build
        run: cmake --build build -- -j2
      
      - name: Run tests
        run: ctest --test-dir build --output-on-failure
